.header-container {
    display        : flex;
    height         : 60px;
    padding        : 20px 100px;
    justify-content: space-between;

    .header-logo {
        display       : flex;
        flex-direction: column;

        .logo {
            background-image: url('../../assets/image/tikilogo.png');
            height          : 40px;
            width           : 96px;
            background-size : cover;
            cursor          : pointer;
        }

        .text {
            color      : #003ea0;
            font-weight: 500;
            font-size  : 15px;
            text-align : center;
        }
    }

    .header-content-center {

        .header-search {
            height          : 35px;
            width           : 700px;
            background-color: white;
            display         : flex;
            border-radius   : 10px;
            border          : 1px solid #a5a4ab;

            .search-bar {
                width      : 600px;
                display    : flex;
                align-items: center;


                .icon {
                    color       : #a5a4ab;
                    margin-left : 10px;
                    margin-right: 5px;
                    font-size   : 20px;
                }

                input {
                    outline: none;
                    border : none;
                    width  : 555px;

                    &::placeholder {
                        color: #a5a4ab;
                    }
                }
            }

            .search-button {
                border: none;
                cursor: pointer;

                &:hover {
                    background-color          : #bdcee4;
                    border-top-right-radius   : 10px;
                    border-bottom-right-radius: 10px;
                    border                    : none;

                }

                button {
                    display         : flex;
                    align-items     : center;
                    justify-content : center;
                    outline         : none;
                    border          : none;
                    border-left     : 1px solid #a5a4ab;
                    width           : 100px;
                    height          : 23px;
                    margin          : 6px 0;
                    font-size       : 14px;
                    color           : #006fff;
                    background-color: transparent;
                    cursor          : pointer;

                }

            }
        }

        .header-type-product {
            display   : flex;
            gap       : 15px;
            color     : #a5a4ab;
            font-size : 14px;
            margin-top: 10px;
        }
    }

    .header-content-right {

        .content-top {

            display: flex;
            gap    : 20px;

            .home-page {
                display      : flex;
                align-items  : center;
                gap          : 5px;
                font-weight  : 400;
                padding      : 5px 10px;
                color        : #0067ff;
                cursor       : pointer;
                border-radius: 8px;

                .icon {
                    font-size: 25px;
                    color    : #0067ff;
                }

                &:hover {
                    background-color: #bdcee4;
                }

            }

            .account {
                display      : flex;
                align-items  : center;
                gap          : 5px;
                font-weight  : 400;
                padding      : 5px 10px;
                color        : #a5a4ab;
                cursor       : pointer;
                border-radius: 8px;

                .icon {
                    font-size: 25px;
                    color    : #a5a4ab;

                    &.logged {
                        color: #0067ff;
                    }
                }

                &:hover {
                    background-color: #bdcee4;
                }

                &.logged {
                    color: #0067ff;
                }

                .avatar {
                    height       : 22px;
                    width        : 22px;
                    border-radius: 50%;
                    border       : 2px solid #0067ff;

                    img {
                        height       : 22px;
                        width        : 22px;
                        border-radius: 50%;
                        object-fit   : cover;
                    }

                }
            }

            .border {
                border-left: 1px solid #a5a4ab;
                margin     : 10px 0;
            }

            .cart {
                display      : flex;
                align-items  : center;
                padding      : 7px;
                border-radius: 8px;
                cursor       : pointer;

                &:hover {
                    background-color: #bdcee4;
                }

                .icon {
                    font-size: 25px;
                    color    : #0067ff;
                }
            }
        }

        .content-bottom {
            margin-top: 5px;

            .text {
                display       : flex;
                flex-direction: row;
                gap           : 4px;
                font-size     : 15px;
                margin-left   : 10px;
                cursor        : pointer;

                .text1 {
                    color      : #a5a4ab;
                    display    : flex;
                    align-items: center;
                }

                .text2 {}
            }
        }
    }

}