button {
    border          : none;
    background-color: blue;
    color           : white;
    outline         : none;
    padding         : 5px;
    border-radius   : 5px;
    cursor          : pointer;

    &:hover {
        background-color: transparent;
        color           : black;
        border          : 1px solid black;
    }
}