.cart-page-container {
    padding         : 20px 100px;
    background-color: #f5f5fa;

    .cart-main-content {
        display: flex;
        gap    : 20px;


        .cart-content-left1 {
            width           : 70%;
            background-color: #f5f5fa;

            .cart-content-top {
                box-shadow      : 0px 4px 6px rgba(0, 0, 0, 0.2);
                background-color: white;
                border-radius   : 8px;
                padding         : 10px 20px;

                .title {
                    font-size    : 18px;
                    font-weight  : 500;
                    margin-bottom: 10px;
                }

                .ship-method {
                    display      : flex;
                    margin-bottom: 20px;

                    .delivery-container {
                        cursor          : pointer;
                        border          : 1px solid #ccc;
                        min-width       : 200px;
                        min-height      : 60px;
                        border-radius   : 8px;
                        display         : flex;
                        align-items     : center;
                        justify-content : left;
                        padding-left    : 10px;
                        background-color: white;
                        transition      : background-color 0.3s ease;

                        &.active {
                            background-color: #f0f8ff;
                            border          : 1px solid #1aa7ff;
                        }
                    }
                }

                .product-table {
                    border       : 1px solid #ccc;
                    margin-bottom: 10px;
                    min-height   : 150px;
                    border-radius: 8px;
                }
            }

            .cart-content-bot {
                margin          : 20px 0;
                padding         : 10px 20px;
                background-color: white;
                box-shadow      : 0px 4px 6px rgba(0, 0, 0, 0.2);
                border-radius   : 8px;

                .title {
                    font-size    : 18px;
                    font-weight  : 500;
                    margin-bottom: 10px;
                }

                .payment-method {
                    .custom-radio {
                        display       : flex;
                        align-items   : center;
                        flex-direction: row;
                        gap           : 10px;
                    }
                }
            }
        }

        .cart-content-right {
            width: 30%;

            .sticky {
                position: sticky;
                top     : 120px;

                .cal-price {
                    background-color: white;
                    border-radius   : 7px;
                    display         : flex;
                    flex-direction  : column;
                    min-height      : 300px;
                    box-shadow      : 0px 4px 6px rgba(0, 0, 0, 0.2);


                    .content-top {
                        height: 70%;

                        .address {
                            margin    : 0 30px;
                            margin-top: 20px;

                            span {
                                margin   : 0 10px;
                                font-size: 14px;
                                color    : #0b74e5;
                                cursor   : pointer;

                                &:hover {
                                    opacity: 0.8;
                                }
                            }
                        }


                        .text {
                            display        : flex;
                            justify-content: space-between;
                            margin         : 10px 30px;

                            .title {}

                            .price {
                                font-weight: 500;
                            }
                        }
                    }

                    .content-bot {
                        height: 30%;

                        .total-price {
                            display        : flex;
                            justify-content: space-between;
                            margin         : 0 30px;
                            margin-bottom  : 20px;

                            .title {}

                            .total {
                                font-size  : 20px;
                                font-weight: 500;
                                color      : red;
                            }
                        }
                    }
                }

                .buy-now-button {
                    margin-top: 20px;
                }
            }

        }
    }


}