.homepage-container {
    background-color: #efefef;
    padding         : 0 100px;
    display         : flex;
    padding-top     : 20px;

    .navbar-left {
        width   : 20%;
        position: sticky;
        top     : 120px;
        height  : 100vh;
    }

    .homepage-content-right {
        width: 80%;

        .slider {
            box-shadow      : 0px 4px 6px rgba(0, 0, 0, 0.2);
            padding         : 20px;
            background-color: white;
            border-radius   : 8px;
        }

        .card-component {
            margin-top      : 20px;
            padding         : 20px;
            box-shadow      : 0px 4px 6px rgba(0, 0, 0, 0.2);
            background-color: white;
            border-radius   : 5px;
            min-height      : 50px;

            .spin {
                margin-top: 25px;
            }
        }

        .button-more {
            display        : flex;
            justify-content: center;
            margin         : 20px 0;
        }
    }

}